* {
  font-family: 'Tahoma', sans-serif;
}

.link {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
